
<div class="container mt-5">
  <h1 class="text-white mb-5 text-center" style="font-weight: bold; font-size: 2.5rem;">
    <i class="fa fa-shield"></i> Gestión de Héroes
  </h1>

  <!-- Botones principales -->
  <div class="d-flex justify-content-center gap-3 mb-5 flex-wrap">
    <button [routerLink]="['/home']" class="btn btn-outline-light btn-sm modern-btn-return">
      <i class="fa fa-undo"></i> Regresar
    </button>
    <button [routerLink]="['/heroeedit', 'nuevo']" type="button" class="btn btn-outline-light btn-sm modern-btn-new">
      <i class="fa fa-plus"></i> Nuevo Héroe
    </button>
  </div>

  <!-- Grid de Héroes -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <ng-container *ngFor="let heroe of Heroes; let i = index">
      <div class="col">
        <div class="card modern-card h-100 text-white overflow-hidden">
          <!-- Imagen del héroe -->
          <img [src]="heroe.img" class="card-img" alt="{{ heroe.nombre }}">
          
          <!-- Overlay con información -->
          <div class="overlay d-flex flex-column justify-content-between">
            <div>
              <h5 class="card-title">{{ heroe.nombre }}</h5>
              <p class="card-text small">
                <b>Casa:</b> {{ heroe.casa }}
              </p>
              <p class="card-text small">
                <b>Aparición:</b> {{ heroe.aparicion }}
              </p>
            </div>
            
            <!-- Descripción -->
            <p class="card-text bio-text">{{ heroe.bio }}</p>
            
            <!-- Botones de acción -->
            <div class="d-flex gap-2 justify-content-between mt-3">
              <button 
                type="button" 
                class="btn btn-sm btn-danger overlay-btn flex-grow-1"
                (click)="eliminarHeroe(heroe)"
              >
                <i class="fa fa-trash"></i> Eliminar
              </button>
              <button 
                type="button" 
                class="btn btn-sm btn-success overlay-btn flex-grow-1"
                (click)="editarHeroe(heroe._id)"
              >
                <i class="fa fa-edit"></i> Editar
              </button>
              <button 
                type="button" 
                class="btn btn-sm btn-primary overlay-btn flex-grow-1"
                (click)="editarFotos(heroe._id)"
              >
                <i class="fa fa-image"></i> Fotos
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

</div>