<div class="col-12 mt-4 px-5"> 
    <form (ngSubmit)="actualizarCasting()">

        <div class="mb-3">
            <label for="heroe" class="form-label"><b>Heroes</b></label>
            <select id="heroe" class="form-select" [(ngModel)]="unCasting.heroes_id._id" name="heroe" required>
              <option value="" disabled selected>Selecciona una Heroe</option>
              <option *ngFor="let heroe of Heroes" [value]="heroe._id">
                {{ heroe.nombre }}
              </option>
            </select>
          </div>

      <div class="mb-3">
        <label for="personaje" class="form-label"><b>Personaje</b></label>
        <input id="personaje" [(ngModel)]="unCasting.personaje" name="personaje" type="text" class="form-control" placeholder="descripcion" required />
      </div>
  
      <div class="mb-3">
        <label for="pelicula" class="form-label"><b>Película</b></label>
        <select id="pelicula" class="form-select" [(ngModel)]="unCasting.peliculas_id._id" name="peliculas_id" required>
          <option value="" disabled selected>Selecciona una película</option>
          <option *ngFor="let pelicula of Peliculas" [value]="pelicula._id">
            {{ pelicula.titulo }}
          </option>
        </select>
      </div>

  
      <button type="submit" class="btn btn-primary">Crear Película</button>
    </form>
  </div>
