<p>pelicula-edit works!</p>

<div class="container">
    <form (ngSubmit)="guardarPelicula()" #forma="ngForm">
        
        <div class="form-group">
            <label><b>ID</b></label>
            <input
              [(ngModel)]="unPelicula._id"
              name="id"
              type="text"
              class="form-control"
              placeholder="Id"
              required
              disabled
            />
          </div>

          <div class="form-group">
            <label><b>titulo</b></label>
            <input
              [(ngModel)]="unPelicula.titulo"
              name="titulo"
              type="text"
              class="form-control"
              placeholder="titulo"
              required
            />
          </div>
         
          <div class="form-group">
            <label><b>descripcion</b></label>
            <input
              [(ngModel)]="unPelicula.descripcion"
              name="descripcion"
              type="text"
              class="form-control"
              placeholder="descripcion"
              required
            />
            
          </div>
  
  
          <div class="form-group">
            <label><b>Imagen</b></label>
            <input
              [(ngModel)]="unPelicula.img"
              name="img"
              type="text"
              class="form-control"
              placeholder="Imagen"
              required
            />
            <img [src]="unPelicula.img" class="img-thumb" />
          </div>

          <div class="form-group">
            <label><b>fecha</b></label>
            <input
              [(ngModel)]="unPelicula.fecha_lanzamiento"
              name="fecha"
              type="text"
              class="form-control"
              placeholder="fecha"
              required
            />
          </div>
  
        <button [disabled]="!forma.valid" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
